body{padding: 0;
margin: 0;
font-family: Helvetica;}
/*======================Header======================*/
#header{
    position:fixed;
    top:0px;
    left:0px;
    z-index:500;
    width:100%;
    height:100px;
    background-image:url('images/wood-bg.png');
    background-repeat:repeat-x;
}
#header img{
    display:block;
    margin:auto;
    width:70%;
    height: 70%;
    padding-top: 15px;
}
/*======================Top-tabs======================*/
#tabs-top{
    position:fixed;
    top:80px;
    left:0px;
    z-index:500;
    width:100%;
    height:40px;
    background-color:darkolivegreen;
}
#tabs-top a{
    float:left;
    display:block;
    width:33%;
    height:35%;
    font-weight: 700;
    color: white;
    padding-top: 12px;
    text-align:center;
    text-decoration: none;
}
/*======================Main-Home======================*/
main-home{
    margin-top: 140px;
}
/*======================Bottom-Tabs======================*/
#tabs-bottom{
    position:fixed;
    bottom: 0;
    left:0;
    z-index:500;
    width:100%;
    height:40px;
    background-color:darkolivegreen;
}
#tabs-bottom a{
    float:left;
    display:block;
    width: 50%;
    height:35%;
    font-weight: 700;
    color: white;
    padding-top: 12px;
    text-align:center;
    text-decoration: none;
}
/*======================Main======================*/
#main{
    margin-top: 100px;
    background: url('images/map-blur.png');
    background-repeat: repeat-y;
}
#content{
    padding-top: 1px;
    padding-bottom: 50px;
}
/*======================Info-box======================*/
a.info-box{
    display: block;
    width: 90%;
    height:90px;
    margin:auto;
    padding: 1px;
    background-color:rgba(0, 0, 0, 0.5); /* transparent black */
    margin-top: 12px;
    text-decoration: none;
}
.info-box img{
    height:70px;
    margin: 10px;
    float:left;

}
.info-box h3{
    padding:0;
    width:90%;
    margin-bottom: 0px;
    color: #1f0f01;
}
.info-box p{
    padding:0;
    width:90%;
    margin:0px;
    color:#fefdfd;
}
.info-box img.right{
    float:right;
    margin-top: 25px;
    height: 40px;
}
/*======================Info-box-full======================*/
#info-box-full{
    width: 90%;
    margin: auto;
    margin-top:12px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* transparent black */
    display:block;
}
#info-box-full img{
    width: 100%;
}
#info-box-full h3{
    text-align: center;
    color: white;
}
#info-box-full p{
    color: white;
}
/*======================Weather======================*/
img.info-box-weather-icon{
    width: 30px !important;
    height: 30px;
    float: left;
    margin: 10px;
}
h1.info-box-weather-icon{
    font-size:65px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}
td, th {
  color: white;
}
table{
    width:100%;
}
td{
    border-top: 1px solid #131313;
}
/*======================Feedback======================*/
input{
    width:100%;
    height: 25px;
    margin:12px 0;
    border:1px solid #929292;
}
textarea{
    width:100%;
    height:65%;
    margin:12px 0;
    border:1px solid #929292;
}
.button{
    display:block;
    width:100%;
    background-color:darkolivegreen;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
}